<div>
  <div class="valentine-flower js-valentine-flower" data-type="A">
    <img width="110px" src="static/flowers/flower_A.png" alt="">
  </div>

  <div class="valentine-flower-dialog js-valentine-flower-dialog">
    <div class="valentine-flower-dialog__body">
      <a href="/game/mid_autumn_rabbit">
        <img class="valentine-flower-dialog__main" src="static/flowers/dialog.png" />
      </a>
      <img class="valentine-flower-dialog__quit js-valentine-flower-dialog-quit" src="static/flowers/icon_close.png"/>
    </div>
  </div>
</div>
