html,
body
  overflow hidden
  height 100%

#website
  height 100%
  overflow-y auto

a
  text-decoration none

.el-menu--collapse .menu-item-wrap .el-submenu__title > span
  display inline-block
  overflow hidden

.el-menu--collapse .el-submenu__title > span ~ i
 display none

$primaryColor = green
$dangerColor = red

.is-active__primary
  &:hover
    color $primaryColor

.is-active__danger
  &:hover
    color $dangerColor
