.nav
    margin 50px
    width 200px


    .list ul
      border1px solid #6a6bbc
      border-radius 3px
      padding5px 10px 3px


    .list li
      list-stylenone


    .list li+li a
      border-top1px solid #6a6bbc


    .list a
      padding 3px 10px
      text-decoration none
      display block


    .list a:hover
      background-color #069
      colorwhite
      font 20px/1em "宋体"
